body {
    background-color: lightblue;
}

header {
 display: block;
 color: black;
}

h1 {
    color: white;
    text-align: top;
}

p {
    font-family: verdana;
    font-size: 20px;
}
